<h1>Edit Habit</h1>
    <form action="/habits/<%= @habits.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <h3>Name: <input type="text" name="name" value= "<%= @habits.name %>"></h3>
    <h3>Date: <input type="text" name="date" value= "<%= @habits.date %>"></h3>
    <h3>Notes: <input type="text" name="notes" value= "<%= @habits.notes %>"></h3>
    
    <input type="submit" name="submit" value="Update Habit">
</form>