<h2>Create a New Habit Here</h2>
    <form method="POST" action="/habits">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="date">Date:</label>
        <input type="date" name="date"><br>
        <br>
        <label for="notes">Notes:</label>
        <textarea type="text" name="notes"></textarea><br>
        <input type="submit" name="submit">
    </form>